.hero
{
    min-width: 100px;
    min-height: 100vh;
    background: linear-gradient(rgba(36, 16, 82, 0.7), rgba(36, 16, 82, 0.7)), url('../../assets/banner.png');
    background-size: cover;
    background-position: center;
    color: white;
}