nav /*Code for the Navbar*/
{
    width: 100%;
  /*  background: rgb(255, 255, 255); */
    color: rgb(255, 255, 255); /* Text Color*/
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo /*Code for the logo of the navbar*/
{
    width: 250px;
}

nav ul/*The positioning for the hyperlinks so they stand aligned with one another*/
{
    position: relative;
    left: 60%;
}

nav ul li /*The positioning for the hyperlinks so they stand aligned with one another*/
{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    left: 10px;
    transition: .1s; 
}
nav ul li:hover
{
    transform: scale(1.2);
}


.dark-nav
{
    color: rgb(0, 0, 0); 
}


.skills-nav {
    color: black;
}

.projects-nav 
{
    color: white;
}

.contact-nav {
    color: rgb(0, 0, 0);
}


nav 
{
    transition: color 0.5s;
}


@media (max-width: 1440px) 
{
    nav ul 
    {
        left: 43%;
        transform: translateX(-50%);
        margin: 0;
    }
}

@media (max-width: 1024px) 
{
    nav ul 
    {
        left: 40%;
        transform: translateX(-50%);
        margin: 0;
    }

    nav ul li 
    {
        font-size: 12px;
        margin: 10px;
        position: relative;
    }
}
